# Eat Safe, Love

## Notebook Set Up

In [22]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd
from bson.objectid import ObjectId

In [23]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [24]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [25]:
# review the collections in our database
db.list_collection_names()

['collec', 'establishments']

In [26]:
# assign the collection to a variable
establishments = db['establishments']
result = establishments.find_one()
#pprint(result.keys())

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [27]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene':{"$eq":20}}

# Use count_documents to display the number of documents in the result
print(establishments.count_documents(query))
# Display the first document in the results using pprint
results = list(establishments.find(query))

pprint(results[0])

41
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('647569e0aaa126d36dafdcc5'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [28]:
# Convert the result to a Pandas DataFrame
df_1 = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print(len(df_1.index))
# Display the first 10 rows of the DataFrame
df_1.head(10)

41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,647569e0aaa126d36dafdcc5,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.276940,50.769705,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,647569e0aaa126d36dafe048,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.278721,51.857536,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,647569e0aaa126d36dafe34d,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.159270,51.789429,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,647569e0aaa126d36dafe53e,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.102020,50.770885,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,647569e0aaa126d36dafe54c,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446,50.770724,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,647569e0aaa126d36dafeeeb,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349,51.541448,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,647569e0aaa126d36daff10c,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.712167,51.535007,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,647569e1aaa126d36db0063d,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364,51.591515,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,647569e1aaa126d36db00a7c,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146450,51.185947,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,647569e1aaa126d36db0128c,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307,51.570050,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [57]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.

query = {"RatingValue":{'$gte':4},"LocalAuthorityName":{'$regex':'London'}}

# agg_Result = establishments.aggregate(
#     [
#         {
#             '$group': {
#                     '_id':'$LocalAuthorityName',
#                     "count":{"$sum":1}
#             }
#         }
#     ]
# )

print("Total documents : ",establishments.count_documents(query))
print()
for i in establishments.find(query,{'LocalAuthorityName':1,'RatingValue':1,'BusinessName':1}):
    print(i)

Total documents :  33

{'_id': ObjectId('647569e0aaa126d36daff6dd'), 'BusinessName': "Charlie's", 'RatingValue': 4, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e1aaa126d36daffa0c'), 'BusinessName': 'Mv City Cruises Erasmus', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e1aaa126d36db00553'), 'BusinessName': 'Benfleet Motor Yacht Club', 'RatingValue': 4, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e1aaa126d36db01350'), 'BusinessName': 'Coombs Catering t/a The Lock and Key', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e1aaa126d36db01359'), 'BusinessName': 'Tilbury Seafarers Centre', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e1aaa126d36db01a5c'), 'BusinessName': 'Mv Valulla', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db03b6a'), 'BusinessName': 'Tereza Joanne', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db03f2e'), 'BusinessName': 'Brick Lane Brews', 'RatingValue': 4, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db03f49'), 'BusinessName': 'The Nuance Group (UK) Limited', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db03f4a'), 'BusinessName': 'WH Smith', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db03f4b'), 'BusinessName': 'City Bar & Grill', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db04128'), 'BusinessName': 'Jet Centre', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db0412a'), 'BusinessName': 'Caffè Nero', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db043cc'), 'BusinessName': 'Mv Sunborn Yacht Hotel', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db045d7'), 'BusinessName': 'Good Hotel London', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db045fc'), 'BusinessName': 'La Nonna lina', 'RatingValue': 4, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db045ff'), 'BusinessName': 'Wake Up Docklands Limited', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db047c5'), 'BusinessName': 'MV Venus Clipper', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db04810'), 'BusinessName': 'MV Moon clipper', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db04811'), 'BusinessName': 'MV Jupiter clipper', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db04812'), 'BusinessName': 'MV Typhoon clipper', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db04813'), 'BusinessName': 'MV Monsoon clipper', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db04814'), 'BusinessName': 'MV Meteor clipper', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db04815'), 'BusinessName': 'MV Tornado clipper', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db04816'), 'BusinessName': 'MV Mercury clipper', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db04817'), 'BusinessName': 'MV Hurricane clipper', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db04818'), 'BusinessName': 'MV Neptune clipper', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db04819'), 'BusinessName': 'MV Galaxy clipper', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db0481a'), 'BusinessName': 'MV Cyclone clipper', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db0481b'), 'BusinessName': 'MV Sun clipper', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db0481c'), 'BusinessName': 'Mv Storm Clipper', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db0481d'), 'BusinessName': 'MV Aurora clipper', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}
{'_id': ObjectId('647569e2aaa126d36db0481e'), 'BusinessName': 'Canary Wharf 1V', 'RatingValue': 5, 'LocalAuthorityName': 'City of London Corporation'}

In [30]:
# Convert the result to a Pandas DataFrame
df_ratingValue = pd.json_normalize(results)
# Display the number of rows in the DataFrame
print(len(df_ratingValue.index))
# Display the first 10 rows of the DataFrame
df_ratingValue.head(10)

41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,647569e0aaa126d36dafdcc5,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.276940,50.769705,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,647569e0aaa126d36dafe048,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.278721,51.857536,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,647569e0aaa126d36dafe34d,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.159270,51.789429,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,647569e0aaa126d36dafe53e,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.102020,50.770885,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,647569e0aaa126d36dafe54c,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446,50.770724,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,647569e0aaa126d36dafeeeb,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349,51.541448,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,647569e0aaa126d36daff10c,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.712167,51.535007,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,647569e1aaa126d36db0063d,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364,51.591515,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,647569e1aaa126d36db00a7c,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146450,51.185947,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,647569e1aaa126d36db0128c,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307,51.570050,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of '5', sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [50]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score
query = {'BusinessName':'Penang Flavours'}
result = establishments.find_one(query)
result
degree_search = 0.01
long = round(result['geocode']['longitude'],2)
lat = round(result['geocode']['latitude'],2)

# Set longitude search range
search_longitude_1 = long + degree_search
search_longitude_2 = long - degree_search

# Set latitude search range
search_latitude_1 = round((lat + degree_search),2)
search_latitude_2 = round((lat - degree_search),2)


query = {'$and':[
            {
                '$and':[
                    {"geocode.longitude":{'$lt':search_longitude_1}},
                    {"geocode.longitude":{'$gt':search_longitude_2}}
                ]
            },
            {
                '$and':[
                    {"geocode.latitude":{'$lt':search_latitude_1}},
                    {"geocode.latitude":{'$gt':search_latitude_2}}
                ]
            },
            {
                "RatingValue":{'$eq':5}
            }

 ]}

sort = [('scores.Hygiene',1)] 
limit= 5
results = list(establishments.find(query).sort(sort).limit(limit))

# Print the results
for row in results:
    print(row)

# Long, 0.08
# Lat : 51.49
# long range from 0.07  &  0.09
# lat range from 51.48  &  51.5

{'_id': ObjectId('647569e2aaa126d36db035f5'), 'FHRSID': 694555, 'ChangesByServerID': 0, 'LocalAuthorityBusinessID': 'PI/000111022', 'BusinessName': 'The Old Mill', 'BusinessType': 'Pub/bar/nightclub', 'BusinessTypeID': 7843, 'AddressLine1': 'The Old Mill 1 Old Mill Road', 'AddressLine2': '', 'AddressLine3': 'Plumstead', 'AddressLine4': 'Greenwich', 'PostCode': 'SE18 1QG', 'Phone': '', 'RatingValue': 5, 'RatingKey': 'fhrs_5_en-gb', 'RatingDate': '2022-03-16T00:00:00', 'LocalAuthorityCode': '511', 'LocalAuthorityName': 'Greenwich', 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk', 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk', 'scores': {'Hygiene': 0, 'Structural': 5, 'ConfidenceInManagement': 5}, 'SchemeType': 'FHRS', 'geocode': {'longitude': 0.0840959, 'latitude': 51.4817109}, 'RightToReply': '', 'Distance': 4647.050320500107, 'NewRatingPending': False, 'meta': {'dataSource': None, 'extractDate': '0001-01-01T00:00:00', 'itemCount': 0, 'returncode': None, 'totalCount': 0, 'totalPages': 0, 'pageSize': 0, 'pageNumber': 0}, 'links': [{'rel': 'self', 'href': 'http://api.ratings.food.gov.uk/establishments/694555'}]}
{'_id': ObjectId('647569e2aaa126d36db03639'), 'FHRSID': 1100050, 'ChangesByServerID': 0, 'LocalAuthorityBusinessID': '12389', 'BusinessName': 'Best Halal Meat Limited', 'BusinessType': 'Retailers - other', 'BusinessTypeID': 4613, 'AddressLine1': '94 Plumstead High Street', 'AddressLine2': '', 'AddressLine3': 'Plumstead', 'AddressLine4': 'Greenwich', 'PostCode': 'SE18 1SL', 'Phone': '', 'RatingValue': 5, 'RatingKey': 'fhrs_5_en-gb', 'RatingDate': '2021-11-17T00:00:00', 'LocalAuthorityCode': '511', 'LocalAuthorityName': 'Greenwich', 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk', 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk', 'scores': {'Hygiene': 0, 'Structural': 0, 'ConfidenceInManagement': 5}, 'SchemeType': 'FHRS', 'geocode': {'longitude': 0.089611, 'latitude': 51.4881611}, 'RightToReply': '', 'Distance': 4647.085639006036, 'NewRatingPending': False, 'meta': {'dataSource': None, 'extractDate': '0001-01-01T00:00:00', 'itemCount': 0, 'returncode': None, 'totalCount': 0, 'totalPages': 0, 'pageSize': 0, 'pageNumber': 0}, 'links': [{'rel': 'self', 'href': 'http://api.ratings.food.gov.uk/establishments/1100050'}]}
{'_id': ObjectId('647569e2aaa126d36db03627'), 'FHRSID': 694338, 'ChangesByServerID': 0, 'LocalAuthorityBusinessID': 'PI/000061059', 'BusinessName': 'Conway Primary School', 'BusinessType': 'School/college/university', 'BusinessTypeID': 7845, 'AddressLine1': 'Conway Primary School Gallosson Road', 'AddressLine2': '', 'AddressLine3': 'Plumstead', 'AddressLine4': 'Greenwich', 'PostCode': 'SE18 1QY', 'Phone': '', 'RatingValue': 5, 'RatingKey': 'fhrs_5_en-gb', 'RatingDate': '2022-06-09T00:00:00', 'LocalAuthorityCode': '511', 'LocalAuthorityName': 'Greenwich', 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk', 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk', 'scores': {'Hygiene': 0, 'Structural': 5, 'ConfidenceInManagement': 0}, 'SchemeType': 'FHRS', 'geocode': {'longitude': 0.0894860029220581, 'latitude': 51.487865447998}, 'RightToReply': '', 'Distance': 4647.079357879319, 'NewRatingPending': False, 'meta': {'dataSource': None, 'extractDate': '0001-01-01T00:00:00', 'itemCount': 0, 'returncode': None, 'totalCount': 0, 'totalPages': 0, 'pageSize': 0, 'pageNumber': 0}, 'links': [{'rel': 'self', 'href': 'http://api.ratings.food.gov.uk/establishments/694338'}]}
{'_id': ObjectId('647569e2aaa126d36db03621'), 'FHRSID': 694629, 'ChangesByServerID': 0, 'LocalAuthorityBusinessID': 'PI/000117347', 'BusinessName': 'Chick Chicken', 'BusinessType': 'Restaurant/Cafe/Canteen', 'BusinessTypeID': 1, 'AddressLine1': '98B Plumstead High Street', 'AddressLine2': '', 'AddressLine3': 'Plumstead', 'AddressLine4': 'Greenwich', 'PostCode': 'SE18 1SL', 'Phone': '', 'RatingValue': 5, 'RatingKey': 'fhrs_5_en-gb', 'RatingDate': '2020-07-20T00:00:00', 'LocalAuthorityCode': '511', 'LocalAuthorityName': 'Greenwich', 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk', 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk', 'scores': {'Hygiene': 0, 'Structural': 5, 'ConfidenceInManagement': 5}, 'SchemeType': 'FHRS', 'geocode': {'longitude': 0.0897508, 'latitude': 51.4880687}, 'RightToReply': '', 'Distance': 4647.077153359202, 'NewRatingPending': False, 'meta': {'dataSource': None, 'extractDate': '0001-01-01T00:00:00', 'itemCount': 0, 'returncode': None, 'totalCount': 0, 'totalPages': 0, 'pageSize': 0, 'pageNumber': 0}, 'links': [{'rel': 'self', 'href': 'http://api.ratings.food.gov.uk/establishments/694629'}]}
{'_id': ObjectId('647569e2aaa126d36db0353b'), 'FHRSID': 695241, 'ChangesByServerID': 0, 'LocalAuthorityBusinessID': 'PI/000179088', 'BusinessName': 'Plumstead Manor Nursery', 'BusinessType': 'Caring Premises', 'BusinessTypeID': 5, 'AddressLine1': 'Plumstead Manor School Old Mill Road', 'AddressLine2': '', 'AddressLine3': 'Plumstead', 'AddressLine4': 'Greenwich', 'PostCode': 'SE18 1QG', 'Phone': '', 'RatingValue': 5, 'RatingKey': 'fhrs_5_en-gb', 'RatingDate': '2021-06-16T00:00:00', 'LocalAuthorityCode': '511', 'LocalAuthorityName': 'Greenwich', 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk', 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk', 'scores': {'Hygiene': 0, 'Structural': 0, 'ConfidenceInManagement': 5}, 'SchemeType': 'FHRS', 'geocode': {'longitude': 0.0859939977526665, 'latitude': 51.481517791748}, 'RightToReply': '', 'Distance': 4646.9740101340385, 'NewRatingPending': False, 'meta': {'dataSource': None, 'extractDate': '0001-01-01T00:00:00', 'itemCount': 0, 'returncode': None, 'totalCount': 0, 'totalPages': 0, 'pageSize': 0, 'pageNumber': 0}, 'links': [{'rel': 'self', 'href': 'http://api.ratings.food.gov.uk/establishments/695241'}]}

In [51]:
# Convert result to Pandas DataFrame
df = pd.json_normalize(results)
df

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,647569e2aaa126d36db035f5,694555,0,PI/000111022,The Old Mill,Pub/bar/nightclub,7843,The Old Mill 1 Old Mill Road,,Plumstead,...,0.084096,51.481711,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,647569e2aaa126d36db03639,1100050,0,12389,Best Halal Meat Limited,Retailers - other,4613,94 Plumstead High Street,,Plumstead,...,0.089611,51.488161,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,647569e2aaa126d36db03627,694338,0,PI/000061059,Conway Primary School,School/college/university,7845,Conway Primary School Gallosson Road,,Plumstead,...,0.089486,51.487865,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,647569e2aaa126d36db03621,694629,0,PI/000117347,Chick Chicken,Restaurant/Cafe/Canteen,1,98B Plumstead High Street,,Plumstead,...,0.089751,51.488069,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,647569e2aaa126d36db0353b,695241,0,PI/000179088,Plumstead Manor Nursery,Caring Premises,5,Plumstead Manor School Old Mill Road,,Plumstead,...,0.085994,51.481518,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [33]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
match_query = {'$match':{'scores.Hygiene':{'$eq':0}}}
# 2. Groups the matches by Local Authority
group_query = {'$group': {'_id': {"Local Authority Name": "$LocalAuthorityName"},
                          'count':{'$sum':1}
                          }
                }
# 3. Sorts the matches from highest to lowest
sort_values = {'$sort': {'count': -1 }}
# # Print the number of documents in the result
pipeline = [match_query,group_query,sort_values]
results = list(establishments.aggregate(pipeline))
# Print the first 10 results
pprint(results[0:10])

[{'_id': {'Local Authority Name': 'Thanet'}, 'count': 1130},
 {'_id': {'Local Authority Name': 'Greenwich'}, 'count': 882},
 {'_id': {'Local Authority Name': 'Maidstone'}, 'count': 713},
 {'_id': {'Local Authority Name': 'Newham'}, 'count': 711},
 {'_id': {'Local Authority Name': 'Swale'}, 'count': 686},
 {'_id': {'Local Authority Name': 'Chelmsford'}, 'count': 680},
 {'_id': {'Local Authority Name': 'Medway'}, 'count': 672},
 {'_id': {'Local Authority Name': 'Bexley'}, 'count': 607},
 {'_id': {'Local Authority Name': 'Southend-On-Sea'}, 'count': 586},
 {'_id': {'Local Authority Name': 'Tendring'}, 'count': 542}]

In [34]:
# Convert the result to a Pandas DataFrame
localAuth_df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print(len(localAuth_df.index))

# Rename and Reorder columns
localAuth_df.rename(columns={'_id.Local Authority Name':'Local Authority Name'},inplace=True)
localAuth_df = localAuth_df[['Local Authority Name','count']]

# Display the first 10 rows of the DataFrame
localAuth_df.head(10)

55

  Local Authority Name  count
0               Thanet   1130
1            Greenwich    882
2            Maidstone    713
3               Newham    711
4                Swale    686
5           Chelmsford    680
6               Medway    672
7               Bexley    607
8      Southend-On-Sea    586
9             Tendring    542